/* styles.css */
/* * {
    border: 1px solid red;
} */



.calContainer {
    margin-left: 20%;
    margin-top: 10%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 300px;
    height: 500px;
    border: 5px solid grey;
    padding: 15px;
    border-radius: 6px;
}

.clear {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: darkgrey;
  }

.del {
    background-color: darkgrey;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

button {
    border: 2px solid grey;
    border-radius: 6px;
    background-color: lightgrey;
}

.operator, .equals  {
    background-color: lightblue;
}

.displayContainer {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-template-rows: 1fr 2fr 1fr;
    border: 2px solid lightgrey;
    border-radius: 6px;
    background-color: rgb(245, 245, 245);
    height: 5em;
}

@font-face {
    font-family: "Digital7";
    src: url(digital-7-font/Digital7-1e1Z.ttf) format("truetype");
    /* src: url(Orbitron/Orbitron-VariableFont_wght.ttf) format("truetype"); */
}

.display {
    text-align: center;
    font-size: 30pt;
    font-family: "Digital7", Verdana, Tahoma;
    height: 40px;
}

.memory {
    padding: 0;
    margin: 0 10px 0 0;
    text-align: right;
    height: 1em;
    font-family: "Digital7", Verdana, Tahoma;
    font-size: 20px;
}


