/* styles.css */

.calContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 300px;
    height: 500px;
    border: 5px solid grey;
    padding: 15px;
    border-radius: 6px;
}

.clear {
    grid-column-start: 1;
    grid-column-end: 3;
  }

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

button {
    border: 2px solid grey;
    border-radius: 6px;
    /* text-align: center; */
    /* padding: 20px; */
}

.display {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    border: 2px solid lightgrey;
    border-radius: 6px;
    background-color: rgb(245, 245, 245);
    font-size: 18pt;
    /* font-family: Orbitron; */
    padding: 8% 0 0 0;
}